# Wefter Admin Portal Configuration
WEFTER_ADMIN_USERNAME=admin
WEFTER_ADMIN_PASSWORD=wefter2026!

# Set your custom obfuscated URL path for the admin portal (default: /weft-admin-sg)
NEXT_PUBLIC_ADMIN_PATH=/weft-admin-sg

# Cloudflare Turnstile Captcha Protection (Optional)
# Obtain sitekey and secret key from your Cloudflare Dashboard -> Turnstile
NEXT_PUBLIC_CLOUDFLARE_TURNSTILE_SITE_KEY=
CLOUDFLARE_TURNSTILE_SECRET_KEY=
